@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

body {
  background-color: #fefb7d;
  /* TODO: Check for font weight availabilitya and then apply */
  /* font-family: "Ubuntu", sans-serif; */
}
.dark body {
  background-color: #090b1d;
}

.cursive {
  font-family: "Caveat", cursive;
}
